
01_welcome_to_data_science/01_what_is_data_science (Brians-MBP.home's conflicted copy 2018-06-19).ipynb
01_welcome_to_data_science/01_what_is_data_science.ipynb
01_welcome_to_data_science/01_what_is_data_science.ipynb
01_welcome_to_data_science/01_what_is_data_science.ipynb
01_welcome_to_data_science/01_what_is_data_science.ipynb
12_decision_trees_and_random_forests/03-whats-next.ipynb
12_decision_trees_and_random_forests/assets/images/obama_clinton.png
12_decision_trees_and_random_forests/assets/images/tree_vehicles.dot
12_decision_trees_and_random_forests/assets/images/trees1.png
12_decision_trees_and_random_forests/assets/images/trees2.png
12_decision_trees_and_random_forests/03-whats-next.ipynb
12_decision_trees_and_random_forests/assets/images/obama_clinton.png
12_decision_trees_and_random_forests/assets/images/tree_vehicles.dot
12_decision_trees_and_random_forests/assets/images/trees1.png
12_decision_trees_and_random_forests/assets/images/trees2.png
